Source: overlay-snapshots
Maintainer: Team Kano <dev@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.4
Build-Depends:
    build-essential,
    cmake,
    debhelper (>= 9),
    libattr1-dev,
    libdocopt-dev,
    libparson-dev

Package: overlay-snapshots
Architecture: all
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    busybox-static,
    grep,
    mount
Description: OverlayFS Filesystem Snapshots
 This is a tool for making snapshots over the root filesystem. You can create
 a snapshot on top of root to keep changes in, then either drop it entirely
 or merge it back down. It supports multiple layer stacking.

Package: overlay-snapshots-dbg
Architecture: any
Depends:
    ${misc:Depends},
    busybox-static
Description: OverlayFS Filesystem Snapshots with debug symbols
 This is a tool for making snapshots over the root filesystem. You can create
 a snapshot on top of root to keep changes in, then either drop it entirely
 or merge it back down. It supports multiple layer stacking.
